@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?iv7aug');
  src:  url('../fonts/icomoon.eot?iv7aug#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?iv7aug') format('truetype'),
    url('../fonts/icomoon.woff?iv7aug') format('woff'),
    url('../fonts/icomoon.svg?iv7aug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-font-"], [class*=" icon-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font-mail-2:before {
  content: "\e900";
}
.icon-font-speech-bubble:before {
  content: "\e901";
}
.icon-font-next-2:before {
  content: "\e902";
}
.icon-font-menu:before {
  content: "\e903";
}
.icon-font-battery-4:before {
  content: "\e904";
}
.icon-font-bedside-table:before {
  content: "\e905";
}
.icon-font-beer:before {
  content: "\e906";
}
.icon-font-binoculars:before {
  content: "\e907";
}
.icon-font-blind:before {
  content: "\e908";
}
.icon-font-book:before {
  content: "\e909";
}
.icon-font-cancer:before {
  content: "\e90a";
}
.icon-font-car:before {
  content: "\e90b";
}
.icon-font-car-1:before {
  content: "\e90c";
}
.icon-font-car-2:before {
  content: "\e90d";
}
.icon-font-center-alignment:before {
  content: "\e90e";
}
.icon-font-center-alignment-1:before {
  content: "\e90f";
}
.icon-font-chicken:before {
  content: "\e910";
}
.icon-font-chicken-1:before {
  content: "\e911";
}
.icon-font-chicken-2:before {
  content: "\e912";
}
.icon-font-clock:before {
  content: "\e913";
}
.icon-font-clock-1:before {
  content: "\e914";
}
.icon-font-clock-2:before {
  content: "\e915";
}
.icon-font-clock-3:before {
  content: "\e916";
}
.icon-font-clock-4:before {
  content: "\e917";
}
.icon-font-cloud:before {
  content: "\e918";
}
.icon-font-cloud-1:before {
  content: "\e919";
}
.icon-font-cloud-2:before {
  content: "\e91a";
}
.icon-font-cloud-computing:before {
  content: "\e91b";
}
.icon-font-cloudy:before {
  content: "\e91c";
}
.icon-font-coins:before {
  content: "\e91d";
}
.icon-font-compass:before {
  content: "\e91e";
}
.icon-font-conga:before {
  content: "\e91f";
}
.icon-font-copy:before {
  content: "\e920";
}
.icon-font-corndog:before {
  content: "\e921";
}
.icon-font-cow:before {
  content: "\e922";
}
.icon-font-customer-service:before {
  content: "\e923";
}
.icon-font-cutlery:before {
  content: "\e924";
}
.icon-font-diagonal-arrow:before {
  content: "\e925";
}
.icon-font-diagonal-arrow-1:before {
  content: "\e926";
}
.icon-font-diagonal-arrow-2:before {
  content: "\e927";
}
.icon-font-diagonal-arrow-3:before {
  content: "\e928";
}
.icon-font-diamond:before {
  content: "\e929";
}
.icon-font-diaper:before {
  content: "\e92a";
}
.icon-font-download:before {
  content: "\e92b";
}
.icon-font-download-1:before {
  content: "\e92c";
}
.icon-font-electric-guitar:before {
  content: "\e92d";
}
.icon-font-emoticon:before {
  content: "\e92e";
}
.icon-font-export:before {
  content: "\e92f";
}
.icon-font-eye:before {
  content: "\e930";
}
.icon-font-eye-1:before {
  content: "\e931";
}
.icon-font-feeding-bottle:before {
  content: "\e932";
}
.icon-font-file:before {
  content: "\e933";
}
.icon-font-file-1:before {
  content: "\e934";
}
.icon-font-file-2:before {
  content: "\e935";
}
.icon-font-file-3:before {
  content: "\e936";
}
.icon-font-film-strip:before {
  content: "\e937";
}
.icon-font-flag:before {
  content: "\e938";
}
.icon-font-flash:before {
  content: "\e939";
}
.icon-font-fork:before {
  content: "\e93a";
}
.icon-font-fountain-pen:before {
  content: "\e93b";
}
.icon-font-fountain-pen-1:before {
  content: "\e93c";
}
.icon-font-fountain-pen-2:before {
  content: "\e93d";
}
.icon-font-fountain-pen-3:before {
  content: "\e93e";
}
.icon-font-fountain-pen-4:before {
  content: "\e93f";
}
.icon-font-gemini:before {
  content: "\e940";
}
.icon-font-glass-of-water:before {
  content: "\e941";
}
.icon-font-guitar:before {
  content: "\e942";
}
.icon-font-ham:before {
  content: "\e943";
}
.icon-font-happy:before {
  content: "\e944";
}
.icon-font-happy-1:before {
  content: "\e945";
}
.icon-font-head:before {
  content: "\e946";
}
.icon-font-heavy-metal:before {
  content: "\e947";
}
.icon-font-home:before {
  content: "\e948";
}
.icon-font-home-1:before {
  content: "\e949";
}
.icon-font-home-2:before {
  content: "\e94a";
}
.icon-font-home-3:before {
  content: "\e94b";
}
.icon-font-home-4:before {
  content: "\e94c";
}
.icon-font-horse:before {
  content: "\e94d";
}
.icon-font-id-card:before {
  content: "\e94e";
}
.icon-font-jar:before {
  content: "\e94f";
}
.icon-font-justify:before {
  content: "\e950";
}
.icon-font-laundry:before {
  content: "\e951";
}
.icon-font-laundry-1:before {
  content: "\e952";
}
.icon-font-laundry-2:before {
  content: "\e953";
}
.icon-font-laundry-3:before {
  content: "\e954";
}
.icon-font-laundry-4:before {
  content: "\e955";
}
.icon-font-laundry-5:before {
  content: "\e956";
}
.icon-font-left-alignment:before {
  content: "\e957";
}
.icon-font-left-alignment-1:before {
  content: "\e958";
}
.icon-font-lemon:before {
  content: "\e959";
}
.icon-font-lemon-1:before {
  content: "\e95a";
}
.icon-font-lemonade:before {
  content: "\e95b";
}
.icon-font-lemonade-1:before {
  content: "\e95c";
}
.icon-font-leo:before {
  content: "\e95d";
}
.icon-font-light-bulb:before {
  content: "\e95e";
}
.icon-font-like:before {
  content: "\e95f";
}
.icon-font-mail-1:before {
  content: "\e960";
}
.icon-font-mail-3:before {
  content: "\e961";
}
.icon-font-mail-4:before {
  content: "\e962";
}
.icon-font-mail-5:before {
  content: "\e963";
}
.icon-font-man:before {
  content: "\e964";
}
.icon-font-man-1:before {
  content: "\e965";
}
.icon-font-map:before {
  content: "\e966";
}
.icon-font-maths:before {
  content: "\e967";
}
.icon-font-medical-result:before {
  content: "\e968";
}
.icon-font-money:before {
  content: "\e969";
}
.icon-font-monitor:before {
  content: "\e96a";
}
.icon-font-monitor-1:before {
  content: "\e96b";
}
.icon-font-monitor-2:before {
  content: "\e96c";
}
.icon-font-monitor-3:before {
  content: "\e96d";
}
.icon-font-monitor-4:before {
  content: "\e96e";
}
.icon-font-monitor-5:before {
  content: "\e96f";
}
.icon-font-muted:before {
  content: "\e970";
}
.icon-font-ninja:before {
  content: "\e971";
}
.icon-font-padlock:before {
  content: "\e972";
}
.icon-font-padlock-1:before {
  content: "\e973";
}
.icon-font-pear:before {
  content: "\e974";
}
.icon-font-phone-call-1:before {
  content: "\e975";
}
.icon-font-phone-call-2:before {
  content: "\e976";
}
.icon-font-phone-call-3:before {
  content: "\e977";
}
.icon-font-photo-camera:before {
  content: "\e978";
}
.icon-font-pie-chart:before {
  content: "\e979";
}
.icon-font-pie-chart-1:before {
  content: "\e97a";
}
.icon-font-piggy-bank:before {
  content: "\e97b";
}
.icon-font-pin:before {
  content: "\e97c";
}
.icon-font-placeholder-1:before {
  content: "\e97d";
}
.icon-font-placeholder-2:before {
  content: "\e97e";
}
.icon-font-plug:before {
  content: "\e97f";
}
.icon-font-plug-1:before {
  content: "\e980";
}
.icon-font-pointing:before {
  content: "\e981";
}
.icon-font-rain:before {
  content: "\e982";
}
.icon-font-right-alignment:before {
  content: "\e983";
}
.icon-font-right-alignment-1:before {
  content: "\e984";
}
.icon-font-rolling-pin:before {
  content: "\e985";
}
.icon-font-ruler:before {
  content: "\e986";
}
.icon-font-ruler-1:before {
  content: "\e987";
}
.icon-font-sad:before {
  content: "\e988";
}
.icon-font-saturn:before {
  content: "\e989";
}
.icon-font-saturn-1:before {
  content: "\e98a";
}
.icon-font-sausage:before {
  content: "\e98b";
}
.icon-font-sheep:before {
  content: "\e98c";
}
.icon-font-sheep-1:before {
  content: "\e98d";
}
.icon-font-shield:before {
  content: "\e98e";
}
.icon-font-shop:before {
  content: "\e98f";
}
.icon-font-shopping-bag:before {
  content: "\e990";
}
.icon-font-shopping-basket:before {
  content: "\e991";
}
.icon-font-smartphone:before {
  content: "\e992";
}
.icon-font-smartphone-1:before {
  content: "\e993";
}
.icon-font-smartphone-2:before {
  content: "\e994";
}
.icon-font-smartphone-3:before {
  content: "\e995";
}
.icon-font-smile:before {
  content: "\e996";
}
.icon-font-socket:before {
  content: "\e997";
}
.icon-font-speech-bubble-1:before {
  content: "\e998";
}
.icon-font-speech-bubble-2:before {
  content: "\e999";
}
.icon-font-speech-bubble-3:before {
  content: "\e99a";
}
.icon-font-spoon:before {
  content: "\e99b";
}
.icon-font-sun:before {
  content: "\e99c";
}
.icon-font-alien:before {
  content: "\e99d";
}
.icon-font-ambulance:before {
  content: "\e99e";
}
.icon-font-ambulance-1:before {
  content: "\e99f";
}
.icon-font-aries:before {
  content: "\e9a0";
}
.icon-font-armchair:before {
  content: "\e9a1";
}
.icon-font-baby:before {
  content: "\e9a2";
}
.icon-font-baby-1:before {
  content: "\e9a3";
}
.icon-font-baby-girl:before {
  content: "\e9a4";
}
.icon-font-balance:before {
  content: "\e9a5";
}
.icon-font-bar-chart:before {
  content: "\e9a6";
}
.icon-font-bar-chart-1:before {
  content: "\e9a7";
}
.icon-font-battery:before {
  content: "\e9a8";
}
.icon-font-battery-1:before {
  content: "\e9a9";
}
.icon-font-battery-2:before {
  content: "\e9aa";
}
.icon-font-battery-3:before {
  content: "\e9ab";
}
.icon-font-surprised:before {
  content: "\e9ac";
}
.icon-font-syringe:before {
  content: "\e9ad";
}
.icon-font-table:before {
  content: "\e9ae";
}
.icon-font-tap:before {
  content: "\e9af";
}
.icon-font-tap-1:before {
  content: "\e9b0";
}
.icon-font-tap-2:before {
  content: "\e9b1";
}
.icon-font-taurus:before {
  content: "\e9b2";
}
.icon-font-telephone:before {
  content: "\e9b3";
}
.icon-font-toaster:before {
  content: "\e9b4";
}
.icon-font-ufo:before {
  content: "\e9b5";
}
.icon-font-upload:before {
  content: "\e9b6";
}
.icon-font-upload-1:before {
  content: "\e9b7";
}
.icon-font-van:before {
  content: "\e9b8";
}
.icon-font-victory:before {
  content: "\e9b9";
}
.icon-font-video-camera:before {
  content: "\e9ba";
}
.icon-font-video-camera-1:before {
  content: "\e9bb";
}
.icon-font-watermelon:before {
  content: "\e9bc";
}
.icon-font-weight:before {
  content: "\e9bd";
}
.icon-font-wifi:before {
  content: "\e9be";
}
.icon-font-wifi-1:before {
  content: "\e9bf";
}
.icon-font-wifi-2:before {
  content: "\e9c0";
}
.icon-font-wifi-3:before {
  content: "\e9c1";
}
.icon-font-woman:before {
  content: "\e9c2";
}
.icon-font-woman-1:before {
  content: "\e9c3";
}
.icon-font-zip:before {
  content: "\e9c4";
}
.icon-font-cancel:before {
  content: "\e9c5";
}
.icon-font-checked-1:before {
  content: "\e9c6";
}
.icon-font-checked-2:before {
  content: "\e9c7";
}
.icon-font-checked-3:before {
  content: "\e9c8";
}
.icon-font-clockwise:before {
  content: "\e9c9";
}
.icon-font-clockwise-1:before {
  content: "\e9ca";
}
.icon-font-command:before {
  content: "\e9cb";
}
.icon-font-compress:before {
  content: "\e9cc";
}
.icon-font-counterclockwise:before {
  content: "\e9cd";
}
.icon-font-counterclockwise-1:before {
  content: "\e9ce";
}
.icon-font-crossroads:before {
  content: "\e9cf";
}
.icon-font-crossroads-1:before {
  content: "\e9d0";
}
.icon-font-delete:before {
  content: "\e9d1";
}
.icon-font-deny:before {
  content: "\e9d2";
}
.icon-font-diagonal:before {
  content: "\e9d3";
}
.icon-font-diagonal-1:before {
  content: "\e9d4";
}
.icon-font-diagonal-arrow-4:before {
  content: "\e9d5";
}
.icon-font-diagonal-arrow-5:before {
  content: "\e9d6";
}
.icon-font-diagonal-arrow-6:before {
  content: "\e9d7";
}
.icon-font-diagonal-arrow-7:before {
  content: "\e9d8";
}
.icon-font-diagonal-arrow-8:before {
  content: "\e9d9";
}
.icon-font-diagonal-arrow-9:before {
  content: "\e9da";
}
.icon-font-diagonal-arrow-10:before {
  content: "\e9db";
}
.icon-font-diagonal-arrow-11:before {
  content: "\e9dc";
}
.icon-font-diagonal-arrow-12:before {
  content: "\e9dd";
}
.icon-font-diagonal-arrow-13:before {
  content: "\e9de";
}
.icon-font-down-arrow:before {
  content: "\e9df";
}
.icon-font-down-arrow-1:before {
  content: "\e9e0";
}
.icon-font-down-arrow-2:before {
  content: "\e9e1";
}
.icon-font-down-arrow-3:before {
  content: "\e9e2";
}
.icon-font-drag-down:before {
  content: "\e9e3";
}
.icon-font-drag-down-1:before {
  content: "\e9e4";
}
.icon-font-drag-left:before {
  content: "\e9e5";
}
.icon-font-drag-left-1:before {
  content: "\e9e6";
}
.icon-font-drag-right:before {
  content: "\e9e7";
}
.icon-font-drag-right-1:before {
  content: "\e9e8";
}
.icon-font-drag-up:before {
  content: "\e9e9";
}
.icon-font-drag-up-1:before {
  content: "\e9ea";
}
.icon-font-exclamation:before {
  content: "\e9eb";
}
.icon-font-expand:before {
  content: "\e9ec";
}
.icon-font-expand-1:before {
  content: "\e9ed";
}
.icon-font-expand-2:before {
  content: "\e9ee";
}
.icon-font-expand-3:before {
  content: "\e9ef";
}
.icon-font-fast-forward:before {
  content: "\e9f0";
}
.icon-font-fit:before {
  content: "\e9f1";
}
.icon-font-fit-1:before {
  content: "\e9f2";
}
.icon-font-glide:before {
  content: "\e9f3";
}
.icon-font-glide-1:before {
  content: "\e9f4";
}
.icon-font-glide-2:before {
  content: "\e9f5";
}
.icon-font-info:before {
  content: "\e9f6";
}
.icon-font-left-sign:before {
  content: "\e9f7";
}
.icon-font-menu-1:before {
  content: "\e9f8";
}
.icon-font-menu-2:before {
  content: "\e9f9";
}
.icon-font-menu-3:before {
  content: "\e9fa";
}
.icon-font-menu-4:before {
  content: "\e9fb";
}
.icon-font-minus:before {
  content: "\e9fc";
}
.icon-font-minus-1:before {
  content: "\e9fd";
}
.icon-font-minus-2:before {
  content: "\e9fe";
}
.icon-font-next-1:before {
  content: "\e9ff";
}
.icon-font-next-3:before {
  content: "\ea00";
}
.icon-font-next-4:before {
  content: "\ea01";
}
.icon-font-plus:before {
  content: "\ea02";
}
.icon-font-plus-1:before {
  content: "\ea03";
}
.icon-font-question:before {
  content: "\ea04";
}
.icon-font-remove:before {
  content: "\ea05";
}
.icon-font-remove-1:before {
  content: "\ea06";
}
.icon-font-resize:before {
  content: "\ea07";
}
.icon-font-resize-1:before {
  content: "\ea08";
}
.icon-font-return:before {
  content: "\ea09";
}
.icon-font-rewind:before {
  content: "\ea0a";
}
.icon-font-right-sign:before {
  content: "\ea0b";
}
.icon-font-rotate:before {
  content: "\ea0c";
}
.icon-font-rotate-1:before {
  content: "\ea0d";
}
.icon-font-rotate-2:before {
  content: "\ea0e";
}
.icon-font-rotate-3:before {
  content: "\ea0f";
}
.icon-font-shift:before {
  content: "\ea10";
}
.icon-font-shrink:before {
  content: "\ea11";
}
.icon-font-shrink-1:before {
  content: "\ea12";
}
.icon-font-shrink-2:before {
  content: "\ea13";
}
.icon-font-shrink-3:before {
  content: "\ea14";
}
.icon-font-shrink-4:before {
  content: "\ea15";
}
.icon-font-slide-down:before {
  content: "\ea16";
}
.icon-font-slide-down-1:before {
  content: "\ea17";
}
.icon-font-slide-left:before {
  content: "\ea18";
}
.icon-font-slide-left-1:before {
  content: "\ea19";
}
.icon-font-slide-right:before {
  content: "\ea1a";
}
.icon-font-slide-right-1:before {
  content: "\ea1b";
}
.icon-font-slide-up:before {
  content: "\ea1c";
}
.icon-font-slide-up-1:before {
  content: "\ea1d";
}
.icon-font-slim-down:before {
  content: "\ea1e";
}
.icon-font-slim-down-1:before {
  content: "\ea1f";
}
.icon-font-slim-left:before {
  content: "\ea20";
}
.icon-font-slim-left-1:before {
  content: "\ea21";
}
.icon-font-slim-right:before {
  content: "\ea22";
}
.icon-font-slim-right-1:before {
  content: "\ea23";
}
.icon-font-slim-up:before {
  content: "\ea24";
}
.icon-font-slim-up-1:before {
  content: "\ea25";
}
.icon-font-stretch:before {
  content: "\ea26";
}
.icon-font-stretch-1:before {
  content: "\ea27";
}
.icon-font-stretch-2:before {
  content: "\ea28";
}
.icon-font-stretch-3:before {
  content: "\ea29";
}
.icon-font-stretch-4:before {
  content: "\ea2a";
}
.icon-font-stretch-5:before {
  content: "\ea2b";
}
.icon-font-stretch-6:before {
  content: "\ea2c";
}
.icon-font-stretch-7:before {
  content: "\ea2d";
}
.icon-font-switch:before {
  content: "\ea2e";
}
.icon-font-switch-1:before {
  content: "\ea2f";
}
.icon-font-switch-2:before {
  content: "\ea30";
}
.icon-font-add:before {
  content: "\ea31";
}
.icon-font-back-1:before {
  content: "\ea32";
}
.icon-font-back-2:before {
  content: "\ea33";
}
.icon-font-back-3:before {
  content: "\ea34";
}
.icon-font-back-4:before {
  content: "\ea35";
}
.icon-font-bookmark:before {
  content: "\ea36";
}
.icon-font-button:before {
  content: "\ea37";
}
.icon-font-switch-3:before {
  content: "\ea38";
}
.icon-font-switch-4:before {
  content: "\ea39";
}
.icon-font-switch-5:before {
  content: "\ea3a";
}
.icon-font-tab:before {
  content: "\ea3b";
}
.icon-font-up-arrow:before {
  content: "\ea3c";
}
.icon-font-up-arrow-1:before {
  content: "\ea3d";
}
.icon-font-up-arrow-2:before {
  content: "\ea3e";
}
.icon-font-up-arrow-3:before {
  content: "\ea3f";
}
.icon-font-up-arrow-4:before {
  content: "\ea40";
}
.icon-font-up-arrow-5:before {
  content: "\ea41";
}
.icon-font-up-sign:before {
  content: "\ea42";
}
.icon-font-vertical:before {
  content: "\ea43";
}
.icon-font-menu-button-of-three-horizontal-lines:before {
  content: "\ea44";
}
.icon-font-next:before {
  content: "\ea45";
}
.icon-font-back:before {
  content: "\ea46";
}
.icon-font-price-tag:before {
  content: "\ea47";
}
.icon-font-checked:before {
  content: "\ea48";
}
.icon-font-placeholder:before {
  content: "\ea49";
}
.icon-font-mail:before {
  content: "\ea4a";
}
.icon-font-phone-call:before {
  content: "\ea4b";
}

