@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iv7aug');
  src:  url('fonts/icomoon.eot?iv7aug#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iv7aug') format('truetype'),
    url('fonts/icomoon.woff?iv7aug') format('woff'),
    url('fonts/icomoon.svg?iv7aug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-2:before {
  content: "\e900";
}
.icon-speech-bubble:before {
  content: "\e901";
}
.icon-next-2:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-battery-4:before {
  content: "\e904";
}
.icon-bedside-table:before {
  content: "\e905";
}
.icon-beer:before {
  content: "\e906";
}
.icon-binoculars:before {
  content: "\e907";
}
.icon-blind:before {
  content: "\e908";
}
.icon-book:before {
  content: "\e909";
}
.icon-cancer:before {
  content: "\e90a";
}
.icon-car:before {
  content: "\e90b";
}
.icon-car-1:before {
  content: "\e90c";
}
.icon-car-2:before {
  content: "\e90d";
}
.icon-center-alignment:before {
  content: "\e90e";
}
.icon-center-alignment-1:before {
  content: "\e90f";
}
.icon-chicken:before {
  content: "\e910";
}
.icon-chicken-1:before {
  content: "\e911";
}
.icon-chicken-2:before {
  content: "\e912";
}
.icon-clock:before {
  content: "\e913";
}
.icon-clock-1:before {
  content: "\e914";
}
.icon-clock-2:before {
  content: "\e915";
}
.icon-clock-3:before {
  content: "\e916";
}
.icon-clock-4:before {
  content: "\e917";
}
.icon-cloud:before {
  content: "\e918";
}
.icon-cloud-1:before {
  content: "\e919";
}
.icon-cloud-2:before {
  content: "\e91a";
}
.icon-cloud-computing:before {
  content: "\e91b";
}
.icon-cloudy:before {
  content: "\e91c";
}
.icon-coins:before {
  content: "\e91d";
}
.icon-compass:before {
  content: "\e91e";
}
.icon-conga:before {
  content: "\e91f";
}
.icon-copy:before {
  content: "\e920";
}
.icon-corndog:before {
  content: "\e921";
}
.icon-cow:before {
  content: "\e922";
}
.icon-customer-service:before {
  content: "\e923";
}
.icon-cutlery:before {
  content: "\e924";
}
.icon-diagonal-arrow:before {
  content: "\e925";
}
.icon-diagonal-arrow-1:before {
  content: "\e926";
}
.icon-diagonal-arrow-2:before {
  content: "\e927";
}
.icon-diagonal-arrow-3:before {
  content: "\e928";
}
.icon-diamond:before {
  content: "\e929";
}
.icon-diaper:before {
  content: "\e92a";
}
.icon-download:before {
  content: "\e92b";
}
.icon-download-1:before {
  content: "\e92c";
}
.icon-electric-guitar:before {
  content: "\e92d";
}
.icon-emoticon:before {
  content: "\e92e";
}
.icon-export:before {
  content: "\e92f";
}
.icon-eye:before {
  content: "\e930";
}
.icon-eye-1:before {
  content: "\e931";
}
.icon-feeding-bottle:before {
  content: "\e932";
}
.icon-file:before {
  content: "\e933";
}
.icon-file-1:before {
  content: "\e934";
}
.icon-file-2:before {
  content: "\e935";
}
.icon-file-3:before {
  content: "\e936";
}
.icon-film-strip:before {
  content: "\e937";
}
.icon-flag:before {
  content: "\e938";
}
.icon-flash:before {
  content: "\e939";
}
.icon-fork:before {
  content: "\e93a";
}
.icon-fountain-pen:before {
  content: "\e93b";
}
.icon-fountain-pen-1:before {
  content: "\e93c";
}
.icon-fountain-pen-2:before {
  content: "\e93d";
}
.icon-fountain-pen-3:before {
  content: "\e93e";
}
.icon-fountain-pen-4:before {
  content: "\e93f";
}
.icon-gemini:before {
  content: "\e940";
}
.icon-glass-of-water:before {
  content: "\e941";
}
.icon-guitar:before {
  content: "\e942";
}
.icon-ham:before {
  content: "\e943";
}
.icon-happy:before {
  content: "\e944";
}
.icon-happy-1:before {
  content: "\e945";
}
.icon-head:before {
  content: "\e946";
}
.icon-heavy-metal:before {
  content: "\e947";
}
.icon-home:before {
  content: "\e948";
}
.icon-home-1:before {
  content: "\e949";
}
.icon-home-2:before {
  content: "\e94a";
}
.icon-home-3:before {
  content: "\e94b";
}
.icon-home-4:before {
  content: "\e94c";
}
.icon-horse:before {
  content: "\e94d";
}
.icon-id-card:before {
  content: "\e94e";
}
.icon-jar:before {
  content: "\e94f";
}
.icon-justify:before {
  content: "\e950";
}
.icon-laundry:before {
  content: "\e951";
}
.icon-laundry-1:before {
  content: "\e952";
}
.icon-laundry-2:before {
  content: "\e953";
}
.icon-laundry-3:before {
  content: "\e954";
}
.icon-laundry-4:before {
  content: "\e955";
}
.icon-laundry-5:before {
  content: "\e956";
}
.icon-left-alignment:before {
  content: "\e957";
}
.icon-left-alignment-1:before {
  content: "\e958";
}
.icon-lemon:before {
  content: "\e959";
}
.icon-lemon-1:before {
  content: "\e95a";
}
.icon-lemonade:before {
  content: "\e95b";
}
.icon-lemonade-1:before {
  content: "\e95c";
}
.icon-leo:before {
  content: "\e95d";
}
.icon-light-bulb:before {
  content: "\e95e";
}
.icon-like:before {
  content: "\e95f";
}
.icon-mail-1:before {
  content: "\e960";
}
.icon-mail-3:before {
  content: "\e961";
}
.icon-mail-4:before {
  content: "\e962";
}
.icon-mail-5:before {
  content: "\e963";
}
.icon-man:before {
  content: "\e964";
}
.icon-man-1:before {
  content: "\e965";
}
.icon-map:before {
  content: "\e966";
}
.icon-maths:before {
  content: "\e967";
}
.icon-medical-result:before {
  content: "\e968";
}
.icon-money:before {
  content: "\e969";
}
.icon-monitor:before {
  content: "\e96a";
}
.icon-monitor-1:before {
  content: "\e96b";
}
.icon-monitor-2:before {
  content: "\e96c";
}
.icon-monitor-3:before {
  content: "\e96d";
}
.icon-monitor-4:before {
  content: "\e96e";
}
.icon-monitor-5:before {
  content: "\e96f";
}
.icon-muted:before {
  content: "\e970";
}
.icon-ninja:before {
  content: "\e971";
}
.icon-padlock:before {
  content: "\e972";
}
.icon-padlock-1:before {
  content: "\e973";
}
.icon-pear:before {
  content: "\e974";
}
.icon-phone-call-1:before {
  content: "\e975";
}
.icon-phone-call-2:before {
  content: "\e976";
}
.icon-phone-call-3:before {
  content: "\e977";
}
.icon-photo-camera:before {
  content: "\e978";
}
.icon-pie-chart:before {
  content: "\e979";
}
.icon-pie-chart-1:before {
  content: "\e97a";
}
.icon-piggy-bank:before {
  content: "\e97b";
}
.icon-pin:before {
  content: "\e97c";
}
.icon-placeholder-1:before {
  content: "\e97d";
}
.icon-placeholder-2:before {
  content: "\e97e";
}
.icon-plug:before {
  content: "\e97f";
}
.icon-plug-1:before {
  content: "\e980";
}
.icon-pointing:before {
  content: "\e981";
}
.icon-rain:before {
  content: "\e982";
}
.icon-right-alignment:before {
  content: "\e983";
}
.icon-right-alignment-1:before {
  content: "\e984";
}
.icon-rolling-pin:before {
  content: "\e985";
}
.icon-ruler:before {
  content: "\e986";
}
.icon-ruler-1:before {
  content: "\e987";
}
.icon-sad:before {
  content: "\e988";
}
.icon-saturn:before {
  content: "\e989";
}
.icon-saturn-1:before {
  content: "\e98a";
}
.icon-sausage:before {
  content: "\e98b";
}
.icon-sheep:before {
  content: "\e98c";
}
.icon-sheep-1:before {
  content: "\e98d";
}
.icon-shield:before {
  content: "\e98e";
}
.icon-shop:before {
  content: "\e98f";
}
.icon-shopping-bag:before {
  content: "\e990";
}
.icon-shopping-basket:before {
  content: "\e991";
}
.icon-smartphone:before {
  content: "\e992";
}
.icon-smartphone-1:before {
  content: "\e993";
}
.icon-smartphone-2:before {
  content: "\e994";
}
.icon-smartphone-3:before {
  content: "\e995";
}
.icon-smile:before {
  content: "\e996";
}
.icon-socket:before {
  content: "\e997";
}
.icon-speech-bubble-1:before {
  content: "\e998";
}
.icon-speech-bubble-2:before {
  content: "\e999";
}
.icon-speech-bubble-3:before {
  content: "\e99a";
}
.icon-spoon:before {
  content: "\e99b";
}
.icon-sun:before {
  content: "\e99c";
}
.icon-alien:before {
  content: "\e99d";
}
.icon-ambulance:before {
  content: "\e99e";
}
.icon-ambulance-1:before {
  content: "\e99f";
}
.icon-aries:before {
  content: "\e9a0";
}
.icon-armchair:before {
  content: "\e9a1";
}
.icon-baby:before {
  content: "\e9a2";
}
.icon-baby-1:before {
  content: "\e9a3";
}
.icon-baby-girl:before {
  content: "\e9a4";
}
.icon-balance:before {
  content: "\e9a5";
}
.icon-bar-chart:before {
  content: "\e9a6";
}
.icon-bar-chart-1:before {
  content: "\e9a7";
}
.icon-battery:before {
  content: "\e9a8";
}
.icon-battery-1:before {
  content: "\e9a9";
}
.icon-battery-2:before {
  content: "\e9aa";
}
.icon-battery-3:before {
  content: "\e9ab";
}
.icon-surprised:before {
  content: "\e9ac";
}
.icon-syringe:before {
  content: "\e9ad";
}
.icon-table:before {
  content: "\e9ae";
}
.icon-tap:before {
  content: "\e9af";
}
.icon-tap-1:before {
  content: "\e9b0";
}
.icon-tap-2:before {
  content: "\e9b1";
}
.icon-taurus:before {
  content: "\e9b2";
}
.icon-telephone:before {
  content: "\e9b3";
}
.icon-toaster:before {
  content: "\e9b4";
}
.icon-ufo:before {
  content: "\e9b5";
}
.icon-upload:before {
  content: "\e9b6";
}
.icon-upload-1:before {
  content: "\e9b7";
}
.icon-van:before {
  content: "\e9b8";
}
.icon-victory:before {
  content: "\e9b9";
}
.icon-video-camera:before {
  content: "\e9ba";
}
.icon-video-camera-1:before {
  content: "\e9bb";
}
.icon-watermelon:before {
  content: "\e9bc";
}
.icon-weight:before {
  content: "\e9bd";
}
.icon-wifi:before {
  content: "\e9be";
}
.icon-wifi-1:before {
  content: "\e9bf";
}
.icon-wifi-2:before {
  content: "\e9c0";
}
.icon-wifi-3:before {
  content: "\e9c1";
}
.icon-woman:before {
  content: "\e9c2";
}
.icon-woman-1:before {
  content: "\e9c3";
}
.icon-zip:before {
  content: "\e9c4";
}
.icon-cancel:before {
  content: "\e9c5";
}
.icon-checked-1:before {
  content: "\e9c6";
}
.icon-checked-2:before {
  content: "\e9c7";
}
.icon-checked-3:before {
  content: "\e9c8";
}
.icon-clockwise:before {
  content: "\e9c9";
}
.icon-clockwise-1:before {
  content: "\e9ca";
}
.icon-command:before {
  content: "\e9cb";
}
.icon-compress:before {
  content: "\e9cc";
}
.icon-counterclockwise:before {
  content: "\e9cd";
}
.icon-counterclockwise-1:before {
  content: "\e9ce";
}
.icon-crossroads:before {
  content: "\e9cf";
}
.icon-crossroads-1:before {
  content: "\e9d0";
}
.icon-delete:before {
  content: "\e9d1";
}
.icon-deny:before {
  content: "\e9d2";
}
.icon-diagonal:before {
  content: "\e9d3";
}
.icon-diagonal-1:before {
  content: "\e9d4";
}
.icon-diagonal-arrow-4:before {
  content: "\e9d5";
}
.icon-diagonal-arrow-5:before {
  content: "\e9d6";
}
.icon-diagonal-arrow-6:before {
  content: "\e9d7";
}
.icon-diagonal-arrow-7:before {
  content: "\e9d8";
}
.icon-diagonal-arrow-8:before {
  content: "\e9d9";
}
.icon-diagonal-arrow-9:before {
  content: "\e9da";
}
.icon-diagonal-arrow-10:before {
  content: "\e9db";
}
.icon-diagonal-arrow-11:before {
  content: "\e9dc";
}
.icon-diagonal-arrow-12:before {
  content: "\e9dd";
}
.icon-diagonal-arrow-13:before {
  content: "\e9de";
}
.icon-down-arrow:before {
  content: "\e9df";
}
.icon-down-arrow-1:before {
  content: "\e9e0";
}
.icon-down-arrow-2:before {
  content: "\e9e1";
}
.icon-down-arrow-3:before {
  content: "\e9e2";
}
.icon-drag-down:before {
  content: "\e9e3";
}
.icon-drag-down-1:before {
  content: "\e9e4";
}
.icon-drag-left:before {
  content: "\e9e5";
}
.icon-drag-left-1:before {
  content: "\e9e6";
}
.icon-drag-right:before {
  content: "\e9e7";
}
.icon-drag-right-1:before {
  content: "\e9e8";
}
.icon-drag-up:before {
  content: "\e9e9";
}
.icon-drag-up-1:before {
  content: "\e9ea";
}
.icon-exclamation:before {
  content: "\e9eb";
}
.icon-expand:before {
  content: "\e9ec";
}
.icon-expand-1:before {
  content: "\e9ed";
}
.icon-expand-2:before {
  content: "\e9ee";
}
.icon-expand-3:before {
  content: "\e9ef";
}
.icon-fast-forward:before {
  content: "\e9f0";
}
.icon-fit:before {
  content: "\e9f1";
}
.icon-fit-1:before {
  content: "\e9f2";
}
.icon-glide:before {
  content: "\e9f3";
}
.icon-glide-1:before {
  content: "\e9f4";
}
.icon-glide-2:before {
  content: "\e9f5";
}
.icon-info:before {
  content: "\e9f6";
}
.icon-left-sign:before {
  content: "\e9f7";
}
.icon-menu-1:before {
  content: "\e9f8";
}
.icon-menu-2:before {
  content: "\e9f9";
}
.icon-menu-3:before {
  content: "\e9fa";
}
.icon-menu-4:before {
  content: "\e9fb";
}
.icon-minus:before {
  content: "\e9fc";
}
.icon-minus-1:before {
  content: "\e9fd";
}
.icon-minus-2:before {
  content: "\e9fe";
}
.icon-next-1:before {
  content: "\e9ff";
}
.icon-next-3:before {
  content: "\ea00";
}
.icon-next-4:before {
  content: "\ea01";
}
.icon-plus:before {
  content: "\ea02";
}
.icon-plus-1:before {
  content: "\ea03";
}
.icon-question:before {
  content: "\ea04";
}
.icon-remove:before {
  content: "\ea05";
}
.icon-remove-1:before {
  content: "\ea06";
}
.icon-resize:before {
  content: "\ea07";
}
.icon-resize-1:before {
  content: "\ea08";
}
.icon-return:before {
  content: "\ea09";
}
.icon-rewind:before {
  content: "\ea0a";
}
.icon-right-sign:before {
  content: "\ea0b";
}
.icon-rotate:before {
  content: "\ea0c";
}
.icon-rotate-1:before {
  content: "\ea0d";
}
.icon-rotate-2:before {
  content: "\ea0e";
}
.icon-rotate-3:before {
  content: "\ea0f";
}
.icon-shift:before {
  content: "\ea10";
}
.icon-shrink:before {
  content: "\ea11";
}
.icon-shrink-1:before {
  content: "\ea12";
}
.icon-shrink-2:before {
  content: "\ea13";
}
.icon-shrink-3:before {
  content: "\ea14";
}
.icon-shrink-4:before {
  content: "\ea15";
}
.icon-slide-down:before {
  content: "\ea16";
}
.icon-slide-down-1:before {
  content: "\ea17";
}
.icon-slide-left:before {
  content: "\ea18";
}
.icon-slide-left-1:before {
  content: "\ea19";
}
.icon-slide-right:before {
  content: "\ea1a";
}
.icon-slide-right-1:before {
  content: "\ea1b";
}
.icon-slide-up:before {
  content: "\ea1c";
}
.icon-slide-up-1:before {
  content: "\ea1d";
}
.icon-slim-down:before {
  content: "\ea1e";
}
.icon-slim-down-1:before {
  content: "\ea1f";
}
.icon-slim-left:before {
  content: "\ea20";
}
.icon-slim-left-1:before {
  content: "\ea21";
}
.icon-slim-right:before {
  content: "\ea22";
}
.icon-slim-right-1:before {
  content: "\ea23";
}
.icon-slim-up:before {
  content: "\ea24";
}
.icon-slim-up-1:before {
  content: "\ea25";
}
.icon-stretch:before {
  content: "\ea26";
}
.icon-stretch-1:before {
  content: "\ea27";
}
.icon-stretch-2:before {
  content: "\ea28";
}
.icon-stretch-3:before {
  content: "\ea29";
}
.icon-stretch-4:before {
  content: "\ea2a";
}
.icon-stretch-5:before {
  content: "\ea2b";
}
.icon-stretch-6:before {
  content: "\ea2c";
}
.icon-stretch-7:before {
  content: "\ea2d";
}
.icon-switch:before {
  content: "\ea2e";
}
.icon-switch-1:before {
  content: "\ea2f";
}
.icon-switch-2:before {
  content: "\ea30";
}
.icon-add:before {
  content: "\ea31";
}
.icon-back-1:before {
  content: "\ea32";
}
.icon-back-2:before {
  content: "\ea33";
}
.icon-back-3:before {
  content: "\ea34";
}
.icon-back-4:before {
  content: "\ea35";
}
.icon-bookmark:before {
  content: "\ea36";
}
.icon-button:before {
  content: "\ea37";
}
.icon-switch-3:before {
  content: "\ea38";
}
.icon-switch-4:before {
  content: "\ea39";
}
.icon-switch-5:before {
  content: "\ea3a";
}
.icon-tab:before {
  content: "\ea3b";
}
.icon-up-arrow:before {
  content: "\ea3c";
}
.icon-up-arrow-1:before {
  content: "\ea3d";
}
.icon-up-arrow-2:before {
  content: "\ea3e";
}
.icon-up-arrow-3:before {
  content: "\ea3f";
}
.icon-up-arrow-4:before {
  content: "\ea40";
}
.icon-up-arrow-5:before {
  content: "\ea41";
}
.icon-up-sign:before {
  content: "\ea42";
}
.icon-vertical:before {
  content: "\ea43";
}
.icon-menu-button-of-three-horizontal-lines:before {
  content: "\ea44";
}
.icon-next:before {
  content: "\ea45";
}
.icon-back:before {
  content: "\ea46";
}
.icon-price-tag:before {
  content: "\ea47";
}
.icon-checked:before {
  content: "\ea48";
}
.icon-placeholder:before {
  content: "\ea49";
}
.icon-mail:before {
  content: "\ea4a";
}
.icon-phone-call:before {
  content: "\ea4b";
}

